.access-kitchen-button{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #72b6f9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
.logo-welcome-page{
    margin: 0;
    font-size: 90px;
}
.welcome-message{
    margin: 0;
    font-size: 70px;
    font-family: "akaya kanadaka", system-ui;
}
.input-name-welcome-page{
    height: 30px;
    width: 300px;
    color: black;
    padding: 6px;
    background-color: rgb(234, 234, 234);
    margin-right: 20px;
    border-radius: 50px;
    border: solid 1px gray;
}
